.root {
    -fx-background-color:rgb(25, 25, 25);
}
.sun-button {
    -fx-graphic: url('Images\Icons\Cart.png');
} 
.toggle-button {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.toggle-button:selected {
    -fx-background-color: rgb(0, 0, 0, .4);
}

.toggle-button:hover {
    -fx-background-color: rgb(0, 0, 0, .2);
    -fx-scale-y: 1.1;
}

.invalid-entry {
    -fx-background-color: rgb(255, 202, 202);
}

.error-label {
    -fx-text-fill: #ff5959;
    -fx-font-size: 14px;
}

.toggle-button2{
    -fx-graphic: url('Images\Icons\TempPizza1.jpg');
}
